.section {
  padding: 2rem 0;
}
.section_title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.products_center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  grid-template-columns: repeat(auto-fit, 31%);
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .cocktails_center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
