/* Single Page Product */

.product_section {
  text-align: center;
}
/* .section {
  padding: 2rem 0;
} */
.section p {
    text-align: left;
}
.section .product_name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}
.section .price {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.section span {
    margin: 5px 20px 0 0;
}

.section .sale_off {
    background-color: #d40f0f;
    font-size: 12px;
    color: #ffffff; 
    font-weight: 700;
    padding: 0 4px;
}
.section .color_wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.section .color_wrapper, label, .input_radio:hover {
    cursor: pointer;
}
.active_color {
    border: 1px solid #ccc;
}
.section .pick_color {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.pick_color .input_radio {
    width: 100%;
    height: 25px;
    opacity: 0;
}

.border_top {
    padding-top: 12px;
    border-top: 1px dotted #ccc;
}

.border_bottom {
    margin-bottom: 12px;
}

.size {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    text-align: center;
}

.size:hover {
    cursor: pointer;
}

.active_size {
    background-color: #000;
    color: #fff;
}

.input_radio_size {
    display: none;
}

.button_quantity {
    float: left;
    background: #f5f5f5;
    border: solid 1px #f5f5f5;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 38px;
    width: 38px;
    text-align: center;
}

.input_text_quantity {
    background: #fff;
    font-weight: 600;
    height: 38px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #f5f5f5;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
}

.button_add_to_cart {
    width: 100%;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    height: 56px;
    line-height: 22px;
    background-color: #000000;
    text-transform: uppercase;
    margin: 0;
}

/* .button_add_to_cart:hover {
    color: #0888CA;
    background-color: #ffffff;
} */

.thumnail {
    width: 80px;
}

.thumnail:hover {
    cursor: pointer;
}

.thumnail .img_thumnail {
    width: 100%;
    height: auto;
}

.path {
    margin: 30px 0;
    text-align: center;
    font-size: 13px;
    color: #737373;
}

.price_group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.price_not_sale {
    font-size: 18px;
    color: #939393;
    font-weight: 400;
    line-height: 28px;
}

.variant {
    font-size: 15px;
    margin: 20px 0 12px !important;
}